@import '../../Global.scss';

.select {
    margin: 0 5px;
    font-size: 0.8rem;
    border-radius: 5px;
    color: $font-color;
    background-color: $seccondary-color;
    text-transform: capitalize;
    @include box-shadow;
}

/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 768px) {
    .select {
        font-size: 0.6rem;
        border-radius: 5px;
    }
}