@import '../../Global.scss';

.container {
    @include container;
}

.wrapper {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px 10px;
}

/* Small devices (portrait tablets and large phones, 768px and down) */
@media only screen and (max-width: 768px) {
    .wrapper {
        padding: 5px 5px;
    }
}